@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /*font-family: 'Inter', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    background-color: #EDF9FC;
    /*background-color: #ffffff;*/
}

.bg-light-blue{
    background-color: #EDF9FC;
}

.text-primary{
    color: #253665;
}

.text-secondary{
    color: #0074D9;
}

.text-ternary{
    color:#0F72B7;
}

.text-accent{
    color: #EDF9FC;
}

.bg-primary{
    background-color: #253665;
}

.bg-secondary{
    background-color: #0074D9;
}

.bg-accent{
    background-color: #EDF9FC;
}

.font-roboto-slab{
    font-family: 'Roboto Slab', serif;
}

#app{
    min-height: 100vh;
}

main{
    min-height: 100vh;
}

button{
    background-color: #0074d9;
}