@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary{
    color: #253665;
}

.text-secondary{
    color: #0074D9;
}

.text-ternary{
    color:#0F72B7;
}

.text-accent{
    color: #EDF9FC;
}

.bg-primary{
    background-color: #253665;
}

.bg-secondary{
    background-color: #0074D9;
}

.bg-accent{
    background-color: #EDF9FC;
}

.font-roboto-slab{
    font-family: 'Roboto Slab', serif;
}

.body{
    padding: 0;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
}

.border-primary{
    border-color: #253665;
}